body {
	background-image: url("assets/images/Backplate.png");
}

h1 {
	font-family: Helvetica;
	text-align: center;
}
.gameboard {
	width: 950px;
	height: 400px;
	border: 1px solid black;
	background-image: url("assets/images/Board.png");
	background-size: 950px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#mancalaA, #mancalaB {
	width: 110px;
	height: 240px;
	border: 1px solid black;
	
}

#mancalaA{
	margin: 80px 2px 0 19px;
	float: left;
}

#mancalaB{
	margin: 80px 12.5px 0 2px;
	float: right;
}

.box {
	width: 110px;
	height: 110px;
	border: 1px solid black;
	float: left;
	margin: 60px 2px 0 0;

}

#box6A {
	margin: 60px 6.5px 0 -2px;
	background-repeat: no-repeat;
}

#box1B, #box2B, #box3B, #box4B, #box5B, #box6B {
	margin-top: 70px;
}